<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap com desktop">

  <Identity
    Name="40087JoeFinApps.TextGrab"
    Publisher="CN=153F3B0F-BA3D-4964-8098-71AC78A1DF6A"
    Version="4.4.2.0" />

  <Properties>
    <DisplayName>Text Grab</DisplayName>
    <PublisherDisplayName>JoeFinApps</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">

		<Extensions>
      <!--Specify which CLSID to activate when toast clicked-->
      <desktop:Extension Category="windows.toastNotificationActivation">
        <desktop:ToastNotificationActivation ToastActivatorCLSID="215d64d2-031c-33c7-96e3-61794cd1ee61" />
      </desktop:Extension>

			<!--Register COM CLSID LocalServer32 registry key-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="Text-Grab\Text-Grab.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
						<com:Class Id="215d64d2-031c-33c7-96e3-61794cd1ee61" DisplayName="Toast activator"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>

      <desktop:Extension
            Category="windows.startupTask"
            Executable="Text-Grab\Text-Grab.exe"
            EntryPoint="Windows.FullTrustApplication">
            <desktop:StartupTask
              TaskId="StartTextGrab"
              Enabled="false"
              DisplayName="Text Grab" />
          </desktop:Extension>

		</Extensions>
		
      <uap:VisualElements
        DisplayName="Text Grab"
        Description="Text Grab is a tool to gather and manipulate text using a range of tools like OCR, Regex, and more"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="Text Grab">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
