<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Text_Grab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Text_Grab.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultLaunch" serializeAs="String">
                <value>Fullscreen</value>
            </setting>
            <setting name="CorrectErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditWindowStartFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontFamilySetting" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="FontSizeSetting" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="IsFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFontItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFontUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFontStrikeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverAutoUseClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditTextWindowSizeAndPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="GrabFrameWindowSizeAndPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="RunInTheBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TryInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InsertDelay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StartupOnLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FSGMakeSingleLineToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalHotkeysEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullscreenGrabHotKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GrabFrameHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="EditWindowHotKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EditWindowIsWordWrapOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditWindowIsOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedLang" serializeAs="String">
                <value />
            </setting>
            <setting name="EditWindowBottomBarIsHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LookupFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LookupHotKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TryToReadBarcodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTesseract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CorrectToLatin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BottomButtonsJson" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowCursorText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollBottomBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrabFrameAutoOcr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrabFrameUpdateEtw" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="FsgSendEtwToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TesseractPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortcutKeySets" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreEtwPositions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EtwUseMargins" serializeAs="String">
                <value>False</value>
            </setting>
        </Text_Grab.Properties.Settings>
    </userSettings>
</configuration>